/* H5对象的全局样式 */
body,div,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0}
.h5_page{position: relative;}
.h5_component_name_caption{
	width: 245px;
	height: 55px;
	line-height: 45px;
	text-indent: 100px;
	opacity: 0;
	background-image: url(../imgs/page_caption_bg1.png);
	font-size: 20px;
	color: #fff;
	font-family: "microsoft yahei"; */
	}